@inherits UmbracoViewPage<Test>
@{
	Layout = null;
}

<html>
<head>

</head>
<body>
	<h2>Standard Business Hours</h2>
	<table>
		<tbody>
			@foreach(var day in Model.StandardBusinessHours) {
			<tr>
				<td>@day.DayOfTheWeek<br />
				Is Open: @day.IsOpen</td>
				<td>
					<table>
						<tbody>
							@foreach(var hours in day.HoursOfBusiness) {
							<tr>
								<td>
									@hours.OpensAt <text> - </text>@hours.ClosesAt <br />
									<text>By AppointmentOnly:</text> @hours.ByAppointmentOnly
								</td>
							</tr>
							}
						</tbody>
					</table>
				</td>
			</tr>
			}
		</tbody>
	</table>

	<h2>Special Business Hours</h2>
	<table>
		<tbody>
			@foreach(var day in Model.SpecialBusinessHours) {
			<tr>
				<td>
					@day.Date<br />
					Is Open: @day.IsOpen
				</td>
				<td>
					<table>
						<tbody>
							@foreach(var hours in day.HoursOfBusiness) {
							<tr>
								<td>
									@hours.OpensAt <text> - </text>@hours.ClosesAt <br />
									<text>By AppointmentOnly:</text> @hours.ByAppointmentOnly
								</td>
							</tr>
							}
						</tbody>
					</table>
				</td>
			</tr>
			}
		</tbody>
	</table>
</body>
</html>